@import "h5bp.css";

html, body {
  background-color: #EBE5DD;
  height: 100%;
}

#main {
  margin: 0 auto;
  height: 100%;
  display: table;
}

#layout {
  display: table-cell;
  vertical-align: middle;
}

canvas {
  border: 1px solid #2B2B2B;
  float: right;
}

.dg {
  float: right;
}
